/* Style The Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: all $animationSpeed $animationType;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  opacity: 0;
  transition: all $animationSpeed $animationType;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: $color-light;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
  opacity: 1;
  transition: all $animationSpeed $animationType;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $color-light;
  transition: all $animationSpeed $animationType;
}
