// Defaull config --------------
%button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  cursor: pointer;
}


// Sizes -----------------------
%button__xs {
  padding: 14px;
  .text{
    font-size: 14px;
    font-weight: 500;
  }
}
%button__sm {
  padding:16px;
  .text{
    font-size: 16px;
    font-weight: 500;
  }
}
%button__md {
  padding: 18px;
  .text{
    font-size: 18px;
    font-weight: 500;
  }
}
%button__lg {
  padding: 22px;
  .text{
    font-size: 22px;
    font-weight: 500;
  }
}
%button__xl {
  padding: 26px;
  .text{
    font-size: 26px;
    font-weight: 500;
  }
}


